<div id="headline"> 
	<p>Will you be my Valentine?</p>
	<%= image_tag "k1.gif", :class => "inline", id: "top-left" %>
	<%= image_tag "k2.gif", :class => "inline", id: "top-right"%>
</div>


<h1>Why I Love You Angela</h1>

<div id="container">
  <div id="reason"></div>
  <div id="button">
    <button id="inquire"></button> 
  </div>
  <%= image_tag "k3.gif", :class => "inline", id: "bottom-left" %>
	<%= image_tag "k4.gif", :class => "inline", id: "bottom-right"%>
</div>